<div id="main" class="wrapper">
  <section class="home">
    <div class="container">
      <a class="logo" href="https://scaleflex.github.io/ng-cloudimage-responsive/">Angular Cloudimage Responsive</a>
      <div class="reference-buttons">
        <a class="github-button" target="_blank"
           href="https://github.com/Scaleflex/ng-cloudimage-responsive/subscription" data-icon="octicon-eye"
           aria-label="Watch Scaleflex/ng-cloudimage-responsive on GitHub">Watch</a>
        <a class="github-button" target="_blank" href="https://github.com/Scaleflex/ng-cloudimage-responsive"
           data-icon="octicon-star" aria-label="Star Scaleflex/ng-cloudimage-responsive on GitHub">Star</a>
        <a class="github-button" target="_blank" href="https://github.com/Scaleflex/ng-cloudimage-responsive/fork"
           data-icon="octicon-repo-forked" aria-label="Fork Scaleflex/ng-cloudimage-responsive on GitHub">Fork</a>
        <a class="twitter-share-button btn btn-info" target="_blank"
           href="https://twitter.com/intent/tweet?text=Responsive%20images,%20now%20easier%20than%20ever&url=https://scaleflex.github.io/ng-cloudimage-responsive/&via=cloudimage&hashtags=images,cloudimage,responsive_images,lazy_loading,web_acceleration,image_managementimage_resizing,image_compression,image_optimization,image_CDN,image_CDNwebp,jpeg_xr,jpg_optimization,image_resizing_and_CDN,cropresize">
          <i> </i>
          <span>Tweet</span>
        </a>
        <!--<a class="github-button" href="https://github.com/Scaleflex/filerobot-uploader/archive/master.zip" data-icon="octicon-cloud-download" aria-label="Download Scaleflex/filerobot-uploader on GitHub">Download</a>-->
      </div>
      <h1><strong>Responsive images</strong>, now easier than ever.</h1>
      <h2>
        Make your existing images <strong>responsive</strong> without creating new images. <strong>Upload</strong> one
        high quality original image and the plugin will <strong>resize, compress and accelerate</strong> images across
        the World in your site for all devices. The plugin supports <strong>lazy load</strong> with <strong>fancy
        animation</strong> on image load.
      </h2>


      <div class="actions-wrapper">
        <a
          id="view-github-btn"
          href="https://github.com/scaleflex/ng-cloudimage-responsive"
          class="btn btn-primary"
          target="_blank"
        >View on GitHub</a>
        <a
          style="margin-left: 5px;"
          href="https://codesandbox.io/s/qr6zzr8rj?fontsize=14&module=%2Fsrc%2Fapp%2Fapp.module.ts"
          class="btn btn-light"
          target="_blank"
        >Edit on CodeSandbox</a>
        <!--<a href="#" class="btn btn-light btn-lg">Read on Medium</a>-->
      </div>
    </div>

    <a href="https://github.com/scaleflex/ng-cloudimage-responsive" target="_blank">
      <img
        class="fork-me-on-github"
        src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png"
        alt="Fork me on GitHub">
    </a>

    <a href="https://www.filerobot.com/" class="robot-icon">
      <img style="width:100%;" id="robot-icon"
           src="https://demo.cloudimg.io/v7/https://cdn.scaleflex.it/filerobot/assets/robot-icon-left.png?w=800"
           alt="">
    </a>
  </section>

  <section>
    <app-container-box></app-container-box>
    <ci-img [src]="images[0].src" [ratio]="images[0].ratio"></ci-img>
  </section>

  <div style="background: #fff">
    <section class="container ready-to-start">
      <h2 class="text-center">Features</h2>

      <ul>
        <li><strong>Resize large images</strong> to the size needed by your design and
          <strong>generate multiple images</strong> for different device screen size
        </li>
        <li>Strip all unnecessary metadata and <strong>optimize JPEG, PNG and GIF compression</strong></li>
        <li>Efficiently <strong>lazy load images</strong> to speed initial page load and save bandwidth</li>
        <li>Use the low quality image with "blur-up" technique to <strong>show a preview</strong> of the image
          <strong>while it loads</strong></li>
        <li><strong>Hold the image position</strong> so your page doesn't jump while images load</li>
      </ul>

    </section>
  </div>

  <section class="container ready-to-start">
    <h2 class="text-center">How it works</h2>
    <p>
      The plugin detects the <strong>width of image's container</strong> and <strong>pixel ratio density</strong> of
      your device to load the exact image size you need. It <strong>processes</strong> images via
      <a href="https://www.cloudimage.io/en/home">Cloudimage.io</a> service which offers comprehensive <strong>automated
      image optimization</strong> solutions.
    </p>
    <p style="margin-top: 20px;">
      When an image is first loaded on your website or mobile app, Cloudimage's resizing servers will
      <strong>download</strong> your origin image from your origin server, <strong>resize</strong> it and
      <strong>deliver</strong> to your user via lightning-fast Content Delivery Networks (CDNs). Once the image is
      resized
      in the format of your choice, Cloudimage will send it to a Content Delivery Network, which will in turn deliver
      it rocket fast to your visitors, <strong>responsively across various screen sizes</strong>.
    </p>
    <p style="margin-top: 20px;">
      Read the following
      <a href="https://medium.com/cloudimage/cloudimage-resizes-your-images-saves-time-accelerates-your-website-and-increases-your-conversion-eb128903d4c2">article</a>
      to learn more about Cloudimage.io service.
    </p>
  </section>

  <div style="background: #fff">
    <section class="container ready-to-start">
      <h2 class="text-center">In numbers</h2>

      <p>
        We have original image stored via CDN with <strong>6240×4160 px resolution</strong> and
        <strong>8.7 mb size</strong>:
        <code>https://cdn.scaleflex.it/demo/redcharlie.jpg</code>
        <a target="_blank" href="https://cdn.scaleflex.it/demo/redcharlie.jpg"> link</a>
        In the table below we can see what size and resolution will be loaded depending on the image's container.
      </p>

      <table class="table table-bordered">
        <thead>
        <tr>
          <th>container size</th>
          <th>pixel ratio density</th>
          <th>calculated width</th>
          <th>result: dimantion | size | link</th>
        </tr>
        </thead>
        <tbody>

        <tr>
          <td rowspan="2" style="vertical-align: middle;">
            400px
          </td>
          <td>1</td>
          <td>400px</td>
          <td>400×267 | 18.7 kb | <a target="_blank"
                                     href="https://demo.cloudimg.io/v7/https://cdn.scaleflex.it/demo/redcharlie.jpg?w=400">link</a>
          </td>
        </tr>
        <tr>
          <td>2</td>
          <td>800px</td>
          <td>800×533 | 58.1 kb | <a target="_blank"
                                     href="https://demo.cloudimg.io/v7/https://cdn.scaleflex.it/demo/redcharlie.jpg?w=800">link</a>
          </td>
        </tr>

        <tr>
          <td rowspan="2" style="vertical-align: middle;">
            570px
          </td>
          <td>1</td>
          <td>600px</td>
          <td>600×400 | 35.4 kb | <a target="_blank"
                                     href="https://demo.cloudimg.io/v7/https://cdn.scaleflex.it/demo/redcharlie.jpg?w=600">link</a>
          </td>
        </tr>
        <tr>
          <td>2</td>
          <td>1200px</td>
          <td>1200x800 | 119 kb | <a target="_blank"
                                     href="https://demo.cloudimg.io/v7/https://cdn.scaleflex.it/demo/redcharlie.jpg?w=1200">link</a>
          </td>
        </tr>


        <tr>
          <td rowspan="2" style="vertical-align: middle;">
            720px
          </td>
          <td>1</td>
          <td>800px</td>
          <td>800×533 | 58.1 kb | <a target="_blank"
                                     href="https://demo.cloudimg.io/v7/https://cdn.scaleflex.it/demo/redcharlie.jpg?w=800">link</a>
          </td>
        </tr>
        <tr>
          <td>2</td>
          <td>1600px</td>
          <td>1600px×1066 | 200 kb | <a target="_blank"
                                        href="https://demo.cloudimg.io/v7/https://cdn.scaleflex.it/demo/redcharlie.jpg?w=1600">link</a>
          </td>
        </tr>

        <tr>
          <td rowspan="2" style="vertical-align: middle;">
            1170px
          </td>
          <td>1</td>
          <td>1200px</td>
          <td>1200x800 | 119 kb | <a target="_blank"
                                     href="https://demo.cloudimg.io/v7/https://cdn.scaleflex.it/demo/redcharlie.jpg?w=1200">link</a>
          </td>
        </tr>
        <tr>
          <td>2</td>
          <td>2400px</td>
          <td>2400x1600 | 405 kb | <a target="_blank"
                                      href="https://demo.cloudimg.io/v7/https://cdn.scaleflex.it/demo/redcharlie.jpg?w=2400">link</a>
          </td>
        </tr>

        </tbody>

      </table>

      <p>
        * The plugin <strong>rounds container width</strong> to next possible value which can be divided by 100 without
        the remainder. It's done for <strong>cache reasons</strong> so that we cache not all images different by 1px,
        but only 100px, 200px, 300px …
      </p>
    </section>
  </div>


  <section class="ready-to-start">
    <h2 class="text-center">Gallery demo</h2>

    <p>Change the size of your browser's window and reload the page to see how the Cloudimage Responsive plugin will
      deliver an optimized image for the screen size.</p>

    <div class="container-fluid" style="max-width: 1200px; margin-left: auto; margin-right: auto; padding-top: 20px;">
      <div class="row images-in-columns">
        <div class="col-12">
          <app-container-box></app-container-box>
          <ci-img [src]="images[8].src" [ratio]="images[8].ratio"></ci-img>
        </div>

        <div *ngFor="let image of images.slice(1, 7)" class="col-6">
          <app-container-box></app-container-box>
          <ci-img [src]="image.src" [ratio]="image.ratio"></ci-img>
          original: <i>{{image.original_size}}</i>
          <a href="{{'https://cloudimage.public.scaleflex.it/demo/' + image.src}}" target="_blank"> link</a><br/>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 col-lg-7">
          <!--<app-container-box></app-container-box>-->
          <ci-img
            [src]="images[18].src"
            [ratio]="images[18].ratio"
            [operation]="'crop'"
            [sizes]="{
                '(max-width: 575px)': { w: 400, h: 150 },
                '(min-width): 576px)': { r: 1 },
                '(min-width: 620px)': { h: 560 },
                '(min-width: 768px)': { w: '50vw' },
                '(min-width: 992px)': { w: '55vw', h: 300 },
                '(min-width: 1200px)': { w: 1200 }
            }"
          ></ci-img>
          <small>
            original: <i>9.2mb</i> <a
            href="https://cloudimage.public.scaleflex.it/demo/dino-reichmuth-1.jpg" target="_blank"> link</a><br/>
          </small>
        </div>
        <div class="col-md-6 col-lg-5 desc-wrapper-with-media-query">
          <h4>You can control your image size/ratio/crop with media query breakpoints</h4>
          <p>Resize your browser window to see how it works</p>
          <pre><code>
&lt;ci-img
  operation="crop"
  [src]="images[18].src"
  [sizes]="&#123;
    '(max-width: 575px)'&#58; &#123; w&#58; 400, h&#58; 150 &#125;,
    '(min-width): 576px)'&#58; &#123; r&#58; 1 &#125;,
    '(min-width: 620px)'&#58; &#123; h&#58; 560 &#125;,
    '(min-width: 768px)'&#58; &#123; w&#58; '50vw' &#125;,
    '(min-width: 992px)'&#58; &#123; w&#58; '55vw', h&#58; 300 &#125;,
    '(min-width: 1200px)'&#58; &#123; w&#58; 1200 &#125;
  &#125;"
&lt;/ci-img&gt;
      </code></pre>
        </div>
      </div>
    </div>
  </section>

  <section class="container ready-to-start">
    <h2 class="text-center">Ready to get started?</h2>
    <p>To use the plugin, you will need a Cloudimage token. Don't worry, it only takes seconds to get one by registering
      <a
        href="https://www.cloudimage.io/en/register_page">here</a>. Once your token is created, you can configure
      it as
      described below.
      This token allows you to use 25GB of image cache and 25GB of worldwide CDN traffic per month for free.</p>
  </section>

  <section class="container">
    <div class="text-center">
      <div id="plugin-version-switcher" class="plugin-version-switcher btn-group btn-toggle">
        <!--{/*//&lt;!&ndash;<button id="js-btn" class="btn btn-primary">JS version</button>&ndash;&gt;*/}-->
        <!--{/*//&lt;!&ndash;<a href="#" class="btn btn-light">React version</a>&ndash;&gt;*/}-->
        <!--{/*//&lt;!&ndash;<a href="#" class="btn btn-light">Angular version</a>&ndash;&gt;*/}-->
      </div>
    </div>

    <div id="js-version-box" >

      <div class="action-wrapper first-action">
        <p>Install using npm</p>
        <figure class="highlight">
          <pre><code class="javascript">npm install --save ng-cloudimage-responsive</code></pre>
        </figure>
      </div>

      <div>
        <div class="action-wrapper second-action">
          <p>
            initialize it with your <strong>token</strong> and the <strong>baseUrl</strong> of your image storage
            using <strong>CloudimageProvider</strong>
          </p>
          <figure class="highlight">
            <pre><code [highlight]="initialization"></code></pre>
          </figure>
          <p>
            Get your Cloudimage tokens <a href="https://www.cloudimage.io/en/register_page">here</a>.
          </p>
        </div>


        <div class="action-wrapper third-action">
          <p>
            Implement it, just using the Img component:
          </p>
          <figure class="highlight">
            <pre><code [highlight]="implement"></code></pre>
          </figure>
          <p>
            <small>NOTE: "ratio" is recommended to prevent page layout jumping.
              The parameter is used to calculate image height to hold the image position while image is loading.
            </small>
          </p>
        </div>

        <div class="action-wrapper forth-action">
          <p>
            …and you're done!
            <a href="https://github.com/scaleflex/ng-cloudimage-responsive#table-of-contents"
               target="_blank">
              Visit the full documentation here.
            </a>
          </p>
        </div>
      </div>
    </div>
  </section>

  <section style="text-align: center;">
    <div class="container ready-to-start">
      <h2>Any questions?</h2>
      <p>
        Contact us at <a href="mailto:hello@cloudimage.io">hello@cloudimage.io</a>, our experts will be happy to help!
      </p>
    </div>
  </section>

  <footer>
    <div style="background: #fff">
      <section class="container ready-to-start filerobot-ui-family">
        <div class="row">
          <div class="col-sm-3 filerobot-ui-family-label" style="max-width: 200px; min-width: 200px;">
            <h5>Filerobot UI family:</h5>
          </div>
          <div class="col-sm-9 filerobot-ui-family-libs" style="max-width: calc(100% - 200px);">
            <ul>
              <li><a target="_blank" href="https://github.com/scaleflex/js-cloudimage-responsive">JS Cloudimage Responsive</a></li>
              <li><a target="_blank" href="https://github.com/scaleflex/react-cloudimage-responsive">React Cloudimage Responsive</a></li>
              <li><a target="_blank" href="https://github.com/scaleflex/js-cloudimage-360-view">JS Cloudimage 360 view</a></li>
              <li><a target="_blank" href="https://github.com/scaleflex/filerobot-uploader">Uploader</a></li>
              <li><a target="_blank" href="https://github.com/scaleflex/filerobot-image-editor">Image Editor</a></li>
            </ul>
          </div>
        </div>
      </section>
    </div>
    <hr/>
    <div class="copyright">
      <div class="container">
        <div class="row">
          <div class="team-desc col-sm-8">
            <div>Made with ❤ in 2019 in Paris, Munich and Sofia by the Scaleflex team, the guys behind <a
              href="https://www.cloudimage.io/en/home" target="_blank">Cloudimage.io</a>.
            </div>
            <div style="margin-top: 10px;">Powered by <a href="https://www.scaleflex.it/en/home" target="_blank">Scaleflex team</a>.
              All rights reserved.
            </div>
          </div>
          <div class="footer-menu col-sm-4">
            <ul>
              <li><a href="https://github.com/scaleflex/ng-cloudimage-responsive" target="_blank">View GitHub</a></li>
              <li><a href="https://github.com/scaleflex/ng-cloudimage-responsive/issues" target="_blank">Current
                Issues</a>
              </li>
              <li><a href="https://github.com/scaleflex/ng-cloudimage-responsive#table-of-contents" target="_blank">Documentation</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <div id="device-pixel-ratio" class="device-pixel-ratio">
    Your device pixel ratio: <span>{{getDevicePixelRatio()}}</span>
  </div>
</div>
